<nav class="navbar navbar-expand-lg navbar-light bg-light text-uppercase fs-5 fw-bold pb-0 pt-3">
  <div class="container-fluid ms-4 me-4 d-flex align-items-center">
    <a class="navbar-brand " href="#" aria-label="E-Learning">
      <img alt="E-Learning" width="58" height="58" class="d-inline-block align-text-top"
           ngSrc="/assets/images/logo.icon.svg"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto ms-2 mb-2 mb-lg-0 w-25 d-flex justify-content-start">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Course</a>
        </li>
      </ul>
      <div class="d-flex justify-content-between align-items-center w-75">
        <form class="d-flex w-50">
          <input class="form-control me-2 rounded-pill " type="search" placeholder="Search for a course or video"
                 aria-label="Search">
          <span class="input-group-append">
                    <button
                      class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border rounded-pill ms-n5"
                      type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
        </form>
        <div class="btn-group">
          <a class="btn btn-outline-success me-2" href="#">Login</a>
          <a class="btn btn-success" href="#">Register</a>
        </div>
      </div>
    </div>
  </div>
</nav>
